body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.parent {
    height: 400px;
    width: 600px;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.child{
    background-color: white;
    height: 30px;
    width: 500px;
    margin-bottom: 20px;
}

.inner {
    background-color: green;
    height: 100%;
    width: 0%;
}